body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1800px;
    background-image: url('manoMichi.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding: 15px 0;
    background-color: cadetblue;
}

.header img {
    max-width: 80px;
    float: left;
}

.body {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}